# OS X
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
.orbit/

# Build artifacts
*.dmg
*.app
*.zip
*.tar.gz

# Temporary / Swap files
*.swp
*~
